:root {
    --white: #ffffff;
    --black: #000000;
    --principal-color: #1C8DA6;
    --secondary-color: #FF7338;
    --third-color: #FAEAE7;
    --fourth-color: #FAB091;
    --fifth-color: #F8F495;
    --sixth-color: #165873;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.containerf {
    background-color: var(--third-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.columna1, .columna2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%; 
}
.image {
    margin-top: auto; 
}

.image img {
  max-width: 322px;
  max-height: 248px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  margin-top: 50px; 
  margin-bottom: 30px;
}

.rowf {
    max-width: 1200px;
    justify-content: center;
    padding: 50px 0;
    align-items: stretch; 
}
