:root {
    --white: #ffffff;
    --black: #000000;
    --principal-color: #1C8DA6;
    --secondary-color: #FF7338;
    --third-color: #FAEAE7;
    --fourth-color: #FAB091;
    --fifth-color: #F8F495;
    --sixth-color: #165873;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.contact-us-title {
    text-align: center;
    padding: 40px 20px 20px 20px;
    background-color: var(--third-color);
    color: var(--black);
}

.contact-us-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px 20px;
  background-color: var(--third-color);
}

.contact-us-image {
  width: 45%;
  border-radius: 5px;
}

.contact-us-form {
  width: 45%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.contact-us-form input, .contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--principal-color);
}

.contact-us-button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}