:root {
    --white: #ffffff;
    --black: #000000;
    --principal-color: #1C8DA6;
    --secondary-color: #FF7338;
    --third-color: #FAEAE7;
    --fourth-color: #FAB091;
    --fifth-color: #F8F495;
    --sixth-color: #165873;
}